KRtcEngine.framework filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/Headers filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/Info.plist filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KRtcEngine filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KSCommon.bundle filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KWArya.bundle filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/3dvoice.bundle filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark01.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark13.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark14.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark02.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark09.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark10.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark15.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark03.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark04.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark05.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark06.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark11.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark12.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark07.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/face.bundle/KSModelLandmark08.model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/BodySlimming filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_teeth_whiten.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/fm_builtin_face_mask.jpg filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyGS_V4_faceshadow.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_faceshadow_female.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_faceshadow_male.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_red.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautify_evenskin_mask.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/eyemask.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/BeautifyG1_lut_light.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/BeautifyG1_lut_light2.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/BeautifyG1_lut_light_live.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/BeautifyG1_lut_light_videorecord.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_lips.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_mask.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/beautifyV4_mask_makeup.png filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/eyemask.tex filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/FaceMagicBundle_iOS_gif_V1.bundle/virtual_shader filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/3dvoice.bundle/KVoice_3D_model filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KWArya.bundle/Root.plist filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KWArya.bundle/a2c_20191023_epoch_99.bin filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KWArya.bundle/a2c_20191023_epoch_99.json filter=lfs diff=lfs merge=lfs -text
KRtcEngine.framework/KWArya.bundle/en.lproj filter=lfs diff=lfs merge=lfs -text
